<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container register-form pt-4">
  <div class="form col-lg-10 offset-1">
    <div class="note ">
      <h4>Add New Diagnosis</h4>
    </div>

    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="userData">

          <div class="row">
            <div class="form-group col-lg-6">
              <label for="code">Code</label>
              <input type="text" [(ngModel)]="diagnosis.code"
                     [ngClass]="{'is-invalid': f.code.touched && f.code.errors, 'is-valid': f.code.touched && f.code.valid}"
                     class="form-control"
                     id="code"
                     name="code" formControlName="code"
                     placeholder="Enter code"
                     required>
              <span style="color: red"
                    *ngIf="f.code.invalid && f.code.touched">Code must be numbers</span>
            </div>

            <div class="form-group col-lg-6">
              <label for="name">Name</label>
              <input type="text" [(ngModel)]="diagnosis.name"
                     [ngClass]="{'is-invalid': f.name.touched && f.name.errors, 'is-valid': f.name.touched && f.name.valid}"
                     class="form-control"
                     id="name"
                     name="name" formControlName="name"
                     placeholder="Enter name"
                     required>
              <span style="color: red"
                    *ngIf="f.name.invalid && f.name.touched">Enter valid name</span>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-lg-6">
              <label for="group">Group</label>
              <input type="text" [(ngModel)]="diagnosis.group"
                     [ngClass]="{'is-invalid': f.group.touched && f.group.errors, 'is-valid': f.group.touched && f.group.valid}"
                     class="form-control"
                     id="group"
                     name="group" formControlName="group"
                     placeholder="Enter group"
                     required>
              <span style="color: red"
                    *ngIf="f.group.invalid && f.group.touched">Enter valid group</span>
            </div>


            <div class="form-group col-lg-6">
              <label for="description">Description</label>
              <input type="text" [(ngModel)]="diagnosis.description"
                     [ngClass]="{'is-invalid': f.description.touched && f.description.errors, 'is-valid': f.description.touched && f.description.valid}"
                     class="form-control"
                     id="description"
                     name="description" formControlName="description"
                     placeholder="Enter description"
                     required>
              <span style="color: red"
                    *ngIf="f.description.invalid && f.description.touched">Enter valid description</span>
            </div>

          </div>

          <div class="row">
            <div class="text-right col-lg-12">
              <button type="submit" class="btn btn-success col-lg-2" [disabled]="userData.invalid">Save</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-10 offset-1 mt-4">
    <table class="table table-borderless table-sm table-striped">
      <thead class="bg-success text-white">
      <tr>
        <th scope="col">Group</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let diag of diagnoses">
        <td>{{diag.group}}</td>
        <td>{{diag.code}}</td>
        <td>{{diag.name}}</td>
        <td>{{ diag.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>
<router-outlet></router-outlet>
