<h4 class="my-5 col-lg-4 offset-5">Validated recipes</h4>
<div class="col-lg-6 offset-3">
    <table class="table table-bordered table-sm table-striped">
      <thead class="bg-success text-white">
      <tr>
        <th scope="col">Medicament Name</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let recipe of validatedRecipes">
        <td>{{recipe.medicamentName}}</td>
        <td>{{ recipe.description }}</td>
      </tr>
      </tbody>
    </table>
</div>

