
<div layout="row">
  <div flex class="col-md-4 offset-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
      <img mat-card-image height="300px" width="200px" src="/assets/img/admin.jpg">
      <mat-card-title><b>{{user.firstName + ' ' + user.lastName}}</b></mat-card-title>
      <mat-card-content>
        <p class="border-bottom">Email: {{user.email}}</p>
        <p class="border-bottom">Address: {{user.address}}</p>
        <p class="border-bottom">City: {{user.city}}</p>
        <p class="border-bottom">Country: {{user.country}}</p>
        <p class="border-bottom">Phone: {{user.phone}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/editClinicCenterAdministrator" mat-button>Edit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
