<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container register-form pt-4">
  <div class="form">
    <div class="note">
      <p>Register here</p>
    </div>

    <div class="card my-5">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="user.firstName"
                   class="form-control"
                   id="name"
                   name="name"
                   placeholder="Enter your name"
                   required #name="ngModel">
          </div>

          <button type="submit" [disabled]="!userForm.form.valid"
                  class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>



  </div>
</div>
</body>
</html>
<router-outlet></router-outlet>
