<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <style>
    nav .navbar-nav li a {
      color: white !important;
    }

    nav .navbar-brand {
      color: white !important;
    }
  </style>
</head>
<body>
<notifier-container></notifier-container>
<div class="row d-flex justify-content-center mt-5">
  <h1>Welcome to Clinic Center System homepage!</h1>
  <h5>From here you can see all clinics in clinic center. Also you can see all history record of yours exams and surgeries. </h5>
</div>
<router-outlet></router-outlet>

</body>
</html>
