<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
<table class="table col-lg-3 ml-5 mt-5 table-borderless">
  <tr class="border-bottom"><td align="end">First Name: </td><td>{{user.firstName}}</td></tr>
  <tr class="border-bottom"><td align="end">Last Name: </td><td>{{user.lastName}}</td></tr>
  <tr class="border-bottom"><td align="end">Email: </td><td>{{user.email}}</td></tr>
  <tr class="border-bottom"><td align="end">Country: </td><td>{{user.country}}</td></tr>
  <tr class="border-bottom"><td align="end">City: </td><td>{{user.city}}</td></tr>
  <tr class="border-bottom"><td align="end">Address: </td><td>{{user.address}}</td></tr>
  <tr class="border-bottom"><td align="end">Phone: </td><td>{{user.phone}}</td></tr>
  <tr class="border-bottom"><td><a class="nav-link" routerLink="/editMedicalStaff">Edit</a></td></tr>
</table>
</body>
</html>
