<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="height: 100%;">
<!--[ngStyle]="{background: 'url(/assets/img/clinic1.jpeg)', backgroundSize: '100% 100%', height: '100%'}"-->
<notifier-container></notifier-container>
<div class="animated slideInLeft">
  <div class="container register-form pt-4">
    <div class="form mt-5">
      <div class="note col-lg-6 offset-3 text-center">
        <h2>Login here</h2>
      </div>

      <div class="col-lg-6 offset-3">
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="checkForChangePassword(mymodal)" [formGroup]="userData" id = "loginForm">

              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input [(ngModel)]="user.email"
                       class="form-control"
                       id="inputEmail" formControlName="email"
                       name="email"
                       placeholder="Enter your email"
                       required>
              </div>

              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input [(ngModel)]="user.password"
                       class="form-control"
                       id="inputPassword" formControlName="password"
                       type="password"
                       name="password"
                       placeholder="Enter your password"
                       required>
              </div>

              <div class="text-right">
                <button type="submit" [disabled]="userData.invalid" id="loginbtn"
                        class="btn btn-success">Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <ng-template #mymodal let-modal>
        <div class="modal-header">
          <h6 class="modal-title" id="modal-basic-title">You need to change password first!</h6>
        </div>
        <div class="modal-body">
          <form [formGroup]="myGroup" (ngSubmit)="changePassword(user.email, mymodal)">
            <div class="col-lg-12">
              <label class="col-lg-4" for="oldPassword">Old password:</label>
              <input class="col-lg-6 " [(ngModel)]="oldPassword" id="oldPassword" formControlName="oldPassword">
              <mat-error class="col-lg-2" *ngIf="hasError('oldPassword', 'required')" style="color: red">*</mat-error>
              <mat-error class="col-lg-12" *ngIf="hasError('oldPassword', 'minlength')" style="color: red">
                <p class="col-lg-8 offset-3 text-center">Must have minimum 5 character</p>
              </mat-error>

            </div>

            <div class="col-lg-12 ">
              <label class="col-lg-4" for="newPassword">New password:</label>
              <input class="col-lg-6" [(ngModel)]="newPassword" id="newPassword" formControlName="newPassword">
              <mat-error class="col-lg-2" *ngIf="hasError('newPassword', 'required')" style="color: red">*</mat-error>
              <mat-error class="col-lg-12" *ngIf="hasError('newPassword', 'minlength')" style="color: red">
                <p class="col-lg-8 offset-3 text-center">Must have minimum 5 character</p>
              </mat-error>
            </div>

            <div class="col-lg-12">
              <label class="col-lg-4" for="repeatNewPassword">Repeat new password:</label>
              <input class="col-lg-6" [(ngModel)]="repeatNewPassword" id="repeatNewPassword"
                     formControlName="repeatNewPassword">
              <mat-error class="col-lg-2" *ngIf="hasError('repeatNewPassword', 'required')" style="color: red">*
              </mat-error>
              <mat-error class="col-lg-12" *ngIf="hasError('repeatNewPassword', 'minlength')" style="color: red">
                <p class="col-lg-8 offset-3 text-center">Must have minimum 5 character</p>
              </mat-error>
              <span *ngIf="cpwd.hasError('invalid')"> Invalid Password </span>
            </div>

            <div class="row mt-3">
              <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-success col-lg-2 offset-5" [disabled]="!myGroup.valid">Save
                </button>
              </div>
            </div>

          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>

</body>
</html>
