<div class="container register-form pt-4">
  <div class="form">
    <div class="note">
      <h2>Add operation room</h2>
    </div>

    <div class="card my-5">
      <div class="card-body">
        <form (ngSubmit)="addOperationRoom()">

          <div class="form-group">
            <label for="inputName">Name</label>
            <input [(ngModel)]="room.name"
                   [ngModelOptions]="{standalone:true}"
                   class="form-control"
                   id="inputName"
                   name="name"
                   placeholder="Enter name of operation room"
                   required>
          </div>

          <div class="form-group">
            <label for="inputNumber">Number</label>
            <input [(ngModel)]="room.number"
                   [ngModelOptions]="{standalone:true}"

                   class="form-control"
                   id="inputNumber"
                   name="number"
                   placeholder="Enter number of operation room"
                   required>
          </div>

          <button type="submit"
                  class="btn btn-info">Add
          </button>
        </form>
      </div>
    </div>


  </div>
</div>
