<div class="card my-5 col-lg-8 offset-2">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Medicament</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let recipe of recipes">
        <td>{{ recipe.medicamentName }}</td>
        <td>{{ recipe.description }}</td>
        <td><button class="btn btn-success" (click)="validateRecipe(recipe.id)"  type="button">Validate</button></td>
        <td><button class="btn btn-danger" type="button">Reject</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

