<div class="container register-form pt-lg-4">
  <div class="form">
    <div class="note">
      <h2>Change info if necessary </h2>
    </div>

    <div class="card my-5">
      <div class="card-body">
        <form [formGroup]="userData">

          <div class="col-form-label-lg">
            <label>Patient : {{request.patient.firstName + ' ' + request.patient.lastName}}</label>
          </div>

          <div class="col-form-label-lg">
            <label>Duration : {{request.duration}}</label>
          </div>

          <div class="form-group">
            <label class="col-form-label-lg">Doctor
              : {{request.doctor.firstName + ' ' + request.doctor.lastName}}</label>
            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedDoctor"
                    (change)="onSelectChange($event)"
                    class="custom-select" [hidden]="!hiddenChange">
              <option>No change</option>
              <option *ngFor="let doctor of availableDoctors">
                {{doctor.id + ' : ' + doctor.firstName + ' ' + doctor.lastName}}</option>
            </select>
          </div>

          <div class="col-form-label-lg">
            <label>Date : {{request.date| date: 'yyyy-MM-dd'}}</label>
            <input name="selectedDate" formControlName="selectedDate" class="form-control" type="date"
                   [value]="selectedDate | date:'yyyy-MM-dd'" [min]="todayDate"
                   (input)="selectedDate=parseDate($event.target.valueAsDate)" [hidden]="!hiddenChange"
                   (change)="getTerms()"
                   [ngClass]="{'is-invalid': f.selectedDate.touched && f.selectedDate.errors, 'is-valid': f.selectedDate.touched && f.selectedDate.valid}">
            <span style="color: red"
                  *ngIf="f.selectedDate.invalid && f.selectedDate.touched">Please select a valid date</span>
          </div>

          <div class="form-group" [hidden]="!hiddenChange">
            <label class="col-form-label-lg">Terms</label>
            <select class="form-control-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedTerm">
              <option *ngFor="let term of availableTerms">{{term}}</option>
            </select>
          </div>

          <div class="col-form-label-lg">
            <label>Price : {{request.price}}</label>
            <input name="selectedPrice" formControlName="selectedPrice" class="form-control" [(ngModel)]="selectedPrice"
                   [hidden]="!hiddenChange"
                   [ngClass]="{'is-invalid': f.selectedPrice.touched && f.selectedPrice.errors, 'is-valid': f.selectedPrice.touched && f.selectedPrice.valid}">
            <span style="color: red"
                  *ngIf="f.selectedPrice.invalid && f.selectedPrice.touched"> Price must be between 1$ and 999999$ </span>
          </div>

          <div class="col-form-label-lg">
            <label>Discount : {{request.discount}}</label>
            <input name="selectedDiscount" formControlName="selectedDiscount" class="form-control"
                   [(ngModel)]="selectedDiscount" [hidden]="!hiddenChange"
                   [ngClass]="{'is-invalid': f.selectedDiscount.touched && f.selectedDiscount.errors, 'is-valid': f.selectedDiscount.touched && f.selectedDiscount.valid}">
            <span style="color: red"
                  *ngIf="f.selectedDiscount.invalid && f.selectedDiscount.touched">Discount must be between 0% and 99% </span>
          </div>

          <button type="submit" id="btnChange"
                  class="btn btn-primary" (click)="showChange()" style="margin-left: 45%;"> Change
          </button>

          <button type="submit" id="btnConfirm"
                  class="btn btn-success" (click)="confirmChanges()" hidden [disabled]="userData.invalid"
                  style="margin-left: 42%;"> Confirm
          </button>

          <button type="submit" id="btnReset"
                  class="btn btn-danger" (click)="reset()" hidden style="margin-left: 25px;"> Reset
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
<div>
  <button class="navbar-toggler" (click)="showSearchRoom($event)">Search
    <fa-icon [icon]="faArrow" class="mr-1"></fa-icon>
  </button>
  <br>
  <div id="searchDoctorDiv" [@slideInOut]="animationState" class="border-bottom">
    <br>
    <form id="searchDoctor" class="form-group" (ngSubmit)="onSearchRoomSubmit(selectedName, selectedNumber)">

      <label style="padding-right: 20px;"> Enter name of examination room : </label>
      <input type="text" [(ngModel)]="selectedName" [ngModelOptions]="{standalone: true}"
             style="padding-left: 20px; padding-right: 20px;" class="form-control-sm">

      <label style="padding-right: 20px;"> Enter number of examination room : </label>
      <input type="number" [(ngModel)]="selectedNumber" [ngModelOptions]="{standalone: true}"
             style="padding-left: 20px; padding-right: 20px;" class="form-control-sm">
      <br>
      <br>
      <button type="submit" class="btn btn-primary"
              style="margin-left: 45%; width: 150px;">Search
      </button>

    </form>
  </div>
</div>
<div class="container register-form pt-lg-4">
  <div class="form">
    <div class="note">
      <h2>Select a room </h2>
    </div>

    <div class="card my-5">
      <div class="card-body">
        <table class="table table-bordered table-striped" id="rooms-table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Select a room</th>
            <th scope="col">Calendar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let room of searchedRooms" class="room-trs">
            <td>{{ room.name}}</td>
            <td>{{ room.number }}</td>
            <td><input type="radio" name="selectClinicRadio"
                       (change)="selectRoom(room)" id="room{{room.id}}">
            <td><a class="nav-link" type="button" (click)="showCalendar(room.id)">
              <fa-icon [icon]="calendar" class="mr-1"></fa-icon>
              <span class="sr-only">(current)</span></a></td>
          </tr>
          </tbody>
        </table>
        <button type="submit" id="btnSchedule"
                class="btn btn-success" (click)="scheduleExamination()" style="margin-left: 40%;" hidden> Schedule
          examination
        </button>
      </div>
    </div>


  </div>
</div>
