<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <style>
    nav .navbar-nav li a {
      color: white !important;
    }

    nav .navbar-brand {
      color: white !important;
    }
  </style>
</head>
<body>
<div class="row d-flex justify-content-center mt-5">
  <h1>Welcome to Clinic Center System homepage!</h1>
  <h5>
    From here you can see all clinic and doctors in clinic center. Also you can see examination types.
  </h5>
</div>

<router-outlet></router-outlet>

</body>
</html>
