<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>
    nav .navbar-nav li a{
      color: white !important;
    }

    nav .navbar-brand{
      color: white !important;
    }


  </style>

</head>
<body>
<div id="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand ml-3" href="/home">Clinic Centar System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home"><fa-icon [icon]="faHome" class="mr-1" ></fa-icon>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><fa-icon [icon]="faInfo" class="mr-1" ></fa-icon>About</a>
        </li>

      </ul>
      <ul class="navbar-nav">

       <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </li> -->

        <li class="nav-item" *ngIf="role == 'ROLE_NURSE'">
          <a class="nav-link mr-2" routerLink="/nurseHomePage/nurseProfilePage">Profile</a>
        </li>

        <li class="nav-item" *ngIf="this.role != null">
          <a class="btn btn-success" type="button"  (click)="logout()"><fa-icon [icon]="faSignOut" class="mr-2" ></fa-icon>Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="this.role == null"><fa-icon [icon]="faLogin" class="mr-1" ></fa-icon>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" *ngIf="this.role == null"><fa-icon [icon]="faRegister" class="mr-1" ></fa-icon>Register</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</body>
</html>
<router-outlet></router-outlet>

