<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>
    nav .navbar-nav li a {
      color: white !important;
    }

    nav .navbar-brand {
      color: white !important;
    }


  </style>

</head>
<body>
<div id="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand ml-3" routerLink="/home">Clinic Centar System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse navbar-responsive-collapse">

      <ul class="navbar-nav mr-auto" *ngIf="role==null">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">
            <fa-icon [icon]="faHome" class="mr-1"></fa-icon>
            Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">
            <fa-icon [icon]="faInfo" class="mr-1"></fa-icon>
            About</a>
        </li>
      </ul>

      <!--ROLE CLINIC CENTER ADMIN-->
      <ul class="navbar-nav mr-auto" *ngIf="role=='ROLE_CLINIC_CENTER_ADMIN'">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/ccaHomePage">
            <fa-icon [icon]="faHome" class="mr-1"></fa-icon>
            Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrationRequests">
            <fa-icon [icon]="" class="mr-1"></fa-icon>
            Requests</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink19" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faClinics" class="mr-1"></fa-icon>
            Clinics
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink19">
            <a class="dropdown-item bg-dark" routerLink="/newClinic">New</a>
            <a class="dropdown-item bg-dark" routerLink="/allClinics">Show all</a>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/allAdmins">
            <fa-icon [icon]="faAdmins" class="mr-1"></fa-icon>
            Admins <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink99" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faMedicament" class="mr-1"></fa-icon>
            Codebook
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink99">
            <a class="dropdown-item bg-dark" routerLink="/medicament">New Medicament</a>
            <a class="dropdown-item bg-dark" routerLink="/newDiagnosis">New Diagnosis</a>
          </div>
        </li>


      </ul>

      <!--ROLE NURSE-->
      <ul class="navbar-nav mr-auto" *ngIf="role=='ROLE_NURSE'">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/nurseHomePage">
            <fa-icon [icon]="faHome" class="mr-1"></fa-icon>
            Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">
            <fa-icon [icon]="faInfo" class="mr-1"></fa-icon>
            About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/allPatients">
            <fa-icon [icon]="faPatients" class="mr-1"></fa-icon>
            Patients <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faPrescription" class="mr-1"></fa-icon>
            Recipes
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item bg-dark" routerLink="/allRecipes">For Validation</a>
            <a class="dropdown-item bg-dark" routerLink="/allValidatedRecipes">Validated</a>
          </div>
        </li>
      </ul>


      <!--ROLE_CLINIC_ADMIN-->
      <ul class="navbar-nav mr-auto" *ngIf="role=='ROLE_CLINIC_ADMIN'">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/clinicAdministratorHomePage">
            <fa-icon [icon]="faHome" class="mr-1"></fa-icon>
            Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">
            <fa-icon [icon]="faInfo" class="mr-1"></fa-icon>
            About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/myClinic">
            <fa-icon [icon]="faClinics" class="mr-1"></fa-icon>
            Clinic <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink10" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faPatients" class="mr-1"></fa-icon>
            Doctors <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink10">
            <a class="dropdown-item bg-dark" routerLink="/addDoctor">Add doctor</a>
            <a class="dropdown-item bg-dark" routerLink="/showAllDoctors">Show all</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/typesOfMedicalExam">
            <fa-icon [icon]="faPatients" class="mr-1"></fa-icon>
            Examination types <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink27" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <fa-icon [icon]="faAnnualLeave" class="mr-1" ></fa-icon>Requests
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink27">
            <a class="dropdown-item bg-dark" routerLink="/vacationRequests">Vacation</a>
            <a class="dropdown-item bg-dark" routerLink="/absenceRequests">Absence</a>
          </div>
        </li>

      </ul>


      <!--ROLE PATIENT-->
      <ul class="navbar-nav mr-auto" *ngIf="role=='ROLE_PATIENT'">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/patientHomePage">
            <fa-icon [icon]="faHome" class="mr-1"></fa-icon>
            Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">
            <fa-icon [icon]="faInfo" class="mr-1"></fa-icon>
            About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/allClinics">
            <fa-icon [icon]="faClinics" class="mr-1"></fa-icon>
            Clinics <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faBook" class="mr-1"></fa-icon>
            History records
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink1">
            <a class="dropdown-item bg-dark" routerLink="/medicalExams">Medical exam</a>
            <a class="dropdown-item bg-dark" routerLink="/medicalSurgery">Medical surgery</a>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/medicalRecord">
            <fa-icon [icon]="faRecord" class="mr-1"></fa-icon>
            Medical record <span class="sr-only">(current)</span></a>
        </li>
      </ul>


      <!--ROLE DOCTOR-->
      <ul class="navbar-nav mr-auto" *ngIf="role=='ROLE_DOCTOR'">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/doctorHomePage">
            <fa-icon [icon]="faHome" class="mr-1"></fa-icon>
            Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">
            <fa-icon [icon]="faInfo" class="mr-1"></fa-icon>
            About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/allPatients">
            <fa-icon [icon]="faPatients" class="mr-1"></fa-icon>
            Patients <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/newMedicalExam">
            <fa-icon [icon]="faStartExam" class="mr-1"></fa-icon>
            Start medical exam <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faSchedule" class="mr-1"></fa-icon>
            Scheduling
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink4">
            <a class="dropdown-item bg-dark" routerLink="/medicalExamScheduling">Medical exam</a>
            <a class="dropdown-item bg-dark" routerLink="/medicalSurgeryScheduling">Medical surgery</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink45" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faSchedule" class="mr-1"></fa-icon>
            Medical Exam Types
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink4">
            <a class="dropdown-item bg-dark" routerLink="/addTypeOfMedicalExam">New</a>
            <a class="dropdown-item bg-dark" routerLink="/typesOfMedicalExam">Show All</a>
          </div>
        </li>

      </ul>


      <!--ROLE NURSE-->
      <ul class="navbar-nav">
        <li class="nav-item dropdown" *ngIf="role == 'ROLE_NURSE'">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faUserCircle" class="mr-1"></fa-icon>
            Profile
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink25">
            <a class="dropdown-item bg-dark" routerLink="/nurseProfilePage">Personal info</a>
            <a class="dropdown-item bg-dark" routerLink="/vacation">Vacation Or Absence</a>
            <a class="dropdown-item bg-dark" routerLink="/workCalendar">Work Calendar</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="role == 'ROLE_DOCTOR'">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink53" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faUserCircle" class="mr-1"></fa-icon>
            Profile
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink53">
            <a class="dropdown-item bg-dark" routerLink="/absence">Absence</a>
            <a class="dropdown-item bg-dark" routerLink="/annualLeave">Annual Leave</a>
            <a class="dropdown-item bg-dark" routerLink="/doctorProfilePage">Personal info</a>
            <a class="dropdown-item bg-dark" routerLink="/workCalendarDoctor">Work Calendar</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="role == 'ROLE_PATIENT'">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faUserCircle" class="mr-1"></fa-icon>
            Profile
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink3">
            <a class="dropdown-item bg-dark" routerLink="/ratings">Ratings</a>
            <a class="dropdown-item bg-dark" routerLink="/patientProfilePage">Personal info</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="role == 'ROLE_CLINIC_CENTER_ADMIN'">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faUserCircle" class="mr-1"></fa-icon>
            Profile
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink7">
            <a class="dropdown-item bg-dark" routerLink="/ccaProfilePage">Personal info</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="role == 'ROLE_CLINIC_ADMIN'">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink77" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faUserCircle" class="mr-1"></fa-icon>
            Profile
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink7">
            <a class="dropdown-item bg-dark" routerLink="/clinicAdministratorProfilePage">Personal info</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="role == 'ROLE_DOCTOR'" >
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <fa-icon [icon]="faUserCircle" class="mr-1" ></fa-icon>Profile
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink5">
            <a class="dropdown-item bg-dark" routerLink="/doctorProfilePage">Personal info</a>
            <a class="dropdown-item bg-dark" routerLink="/workCalendar">Work Calendar</a>
            <a class="dropdown-item bg-dark" routerLink="/vacation">Vacation Or Absence</a>
          </div>
        </li>

        <li class="nav-item" *ngIf="this.role != null">
          <a class="btn btn-success" type="button" (click)="logout()">
            <fa-icon [icon]="faSignOut" class="mr-2"></fa-icon>
            Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="this.role == null">
            <fa-icon [icon]="faLogin" class="mr-1"></fa-icon>
            Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" *ngIf="this.role == null">
            <fa-icon [icon]="faRegister" class="mr-1"></fa-icon>
            Register</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
</body>
</html>
<router-outlet></router-outlet>

