<div class="card my-5">
  <div class="card-body">
    <span class="navbar-brand mb-0 h1">Operation Rooms</span>
    <form id="searchOperationRoom" class="form-group" (ngSubmit)="onSearchSubmit(selectedName, selectedNumber)">
      <label style="padding-right: 20px;"> Enter name of operation room : </label>
      <input type="text" [(ngModel)]="selectedName" [ngModelOptions]="{standalone: true}" style="padding-left: 20px; padding-right: 20px;" class="form-control-sm">

      <label style="padding-right: 20px;"> Enter number of operation room : </label>
      <input type="number" [(ngModel)]="selectedNumber" [ngModelOptions]="{standalone: true}" style="padding-left: 20px; padding-right: 20px;" class="form-control-sm">
      <button type="submit"  class="btn btn-primary"
              style="margin-left: 45%; width: 150px;">Search </button>
    </form>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Operation Room Name</th>
        <th scope="col">Operation Room Number</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of rooms">
        <td contenteditable="true" (blur)="changeRoomName(room, $event)">{{ room.name }}</td>
        <td contenteditable="true" (blur)="changeRoomNumber(room, $event)">{{ room.number }}</td>
        <td>
          <button class="btn-primary" (click)="editRoom(room)">Edit Operation Room</button>
        </td>
        <td>
          <button class="btn-danger" (click)="removeRoom(room)">Remove Operation Room</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-info btn-lg btn-block" (click)="ngOnInit()">Reset table</button>
    <button type="button" class="btn btn-success btn-lg btn-block" (click)="addRoomPage()">Add new operation room</button>

  </div>
</div>
