<notifier-container></notifier-container>
<h2>Here you can rate clinics and doctors you have had an examination at</h2>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Type of examination</th>
    <th scope="col">Clinic</th>
    <th scope="col">Rate clinic</th>
    <th scope="col">Doctor</th>
    <th scope="col">Rate doctor</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let exam of medicalExaminations">
    <td>{{ exam.date }}</td>
    <td>{{ exam.type.name }}</td>
    <td>{{ exam.clinic.name }}</td>
    <td>
      <select *ngIf="!exam.clinicRated" (change)="onChangeSelect($event.target.value, exam)">
        <option>10</option>
        <option>9</option>
        <option>8</option>
        <option>7</option>
        <option>6</option>
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
      <button *ngIf="!exam.clinicRated" type="button" (click)="rateClinic(exam)"> Rate !
      </button>
      <label *ngIf="exam.clinicRated">Already rated !</label>
    </td>
    <td>{{ exam.doctor.firstName + ' ' + exam.doctor.lastName}}</td>
    <td>
      <select *ngIf="!exam.doctorRated" (change)="onChangeSelect2($event.target.value, exam)">
        <option>10</option>
        <option>9</option>
        <option>8</option>
        <option>7</option>
        <option>6</option>
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
      <button *ngIf="!exam.doctorRated" type="button" (click)="rateDoctor(exam)"> Rate !
      </button>
      <label *ngIf="exam.doctorRated">Already rated !</label>
    </td>
  </tr>
  </tbody>
</table>



