<button class="navbar-toggler" (click)="showSearch($event)">Search
  <fa-icon [icon]="faArrow" class="mr-1"></fa-icon>
</button>
<br>

<div id="searchDiv" [@slideInOut]="animationState" class="border-bottom">
  <br>
  <form id="searchClinic" class="form-group" (ngSubmit)="onSearchSubmit(selectedOption, selectedName, selectedRating)">

    <label style="padding-right: 20px;"> Select type : </label>
    <select name="types" [(ngModel)]="selectedOption" (change)="onSelectChange($event)" [disabled]="isAnyClinicSelected"
            class="form-control-sm" style="padding-left: 20px;">
      <option>No type</option>
      <option *ngFor="let type of examinationTypes ">{{type.name}}</option>
    </select>

    <label style="padding-left: 20px; padding-right: 20px;"> Select date : </label>
    <input required class="form-control-sm" type="date" [value]="selectedDate | date:'yyyy-MM-dd'"
           (input)="selectedDate=parseDate($event.target.valueAsDate)" (change)="dateChanged($event)"
           [disabled]="isAnyClinicSelected"
           style="padding-left: 20px; padding-right: 20px;">

    <label style="padding-left: 20px; padding-right: 20px;"> Enter name of clinic : </label>
    <input type="text" [(ngModel)]="selectedName" [ngModelOptions]="{standalone: true}"
           style="padding-left: 20px; padding-right: 20px;" class="form-control-sm">

    <label style="padding-left: 20px; padding-right: 20px;"> Enter lower limit of average rating : </label>
    <input type="number" [(ngModel)]="selectedRating" [ngModelOptions]="{standalone: true}" min="0" max="10"
           style="padding-left: 20px; padding-right: 20px;" class="form-control-sm">

    <br>
    <br>
    <button type="submit" [hidden]="isAnyClinicSelected" class="btn btn-primary"
            style="margin-left: 45%; width: 150px;">Search
    </button>
    <button style="margin-left: 45%; width: 150px;" type="button" [hidden]="!isAnyClinicSelected"
            (click)="resetAllForm()" class="btn btn-secondary">Reset
    </button>
  </form>
</div>

<div>
  <br>
  <h2 style="text-align: center">All available clinics </h2>
  <table matSort (matSortChange)="sortData($event)" class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th mat-sort-header="name" scope="col">Name</th>
      <th mat-sort-header="city" scope="col">City</th>
      <th mat-sort-header="address" scope="col">Address</th>
      <th scope="col">Description</th>
      <th scope="col">Average rating</th>
      <th scope="col" [hidden]="!isTypeSelected">Select a clinic</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let clinic of sortedData">
      <td>{{ clinic.name }}</td>
      <td>{{ clinic.city }}</td>
      <td>{{ clinic.address }}</td>
      <td>{{ clinic.description }}</td>
      <td *ngIf="clinic.clinicAverageRating != null">{{ clinic.clinicAverageRating }}</td>
      <td *ngIf="clinic.clinic_average_rating != null">{{ clinic.clinic_average_rating }}</td>
      <td [hidden]="!isTypeSelected"><input type="radio" name="selectClinicRadio"
                                            (change)="getDoctorFromSelectedClinic(selectedOption, clinic.id)">
      </td>
    </tr>
    </tbody>
  </table>
</div>

<br>

<div [hidden]="!isAnyClinicSelected">
  <button class="navbar-toggler" (click)="showSearchDoctor($event)">Search
    <fa-icon [icon]="faArrow2" class="mr-1"></fa-icon>
  </button>
  <br>
  <div id="searchDoctorDiv" [@slideInOut]="animationState2" class="border-bottom">
    <br>
    <form id="searchDoctor" class="form-group"
          (ngSubmit)="onSearchDoctorSubmit(selectedFirstName, selectedLastName, selectedDoctorRating)">

      <label style="padding-left: 20px; padding-right: 20px;"> Enter doctor's first name : </label>
      <input type="text" [(ngModel)]="selectedFirstName" [ngModelOptions]="{standalone: true}"
             style="padding-left: 20px; padding-right: 20px;" class="form-control-sm">

      <label style="padding-left: 20px; padding-right: 20px;"> Enter doctor's last name : </label>
      <input type="text" [(ngModel)]="selectedLastName" [ngModelOptions]="{standalone: true}"
             style="padding-left: 20px; padding-right: 20px;" class="form-control-sm">

      <label style="padding-left: 20px; padding-right: 20px;"> Enter lower limit of average doctor's rating : </label>
      <input type="number" [(ngModel)]="selectedDoctorRating" [ngModelOptions]="{standalone: true}" min="0" max="10"
             style="padding-left: 20px; padding-right: 20px;" class="form-control-sm">

      <br>
      <br>
      <button type="submit" class="btn btn-primary"
              style="margin-left: 45%; width: 150px;">Search
      </button>

    </form>
  </div>
  <h2 style="text-align: center">All available doctors from selected clinic </h2>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Country</th>
      <th scope="col">Average rating</th>
      <th scope="col">Select a doctor</th>
      <th scope="col" [hidden]="hiddenHeader">Available time</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let doctor of doctors">
      <td>{{ doctor.firstName }}</td>
      <td>{{ doctor.lastName }}</td>
      <td>{{ doctor.country }}</td>
      <td>{{ doctor.averageRating}}</td>
      <td><input type="radio" name="selectDoctorRadio" (change)="showTerms(doctor.id)"></td>
      <td [hidden]="hiddenTerms">
        <select class="form-control-sm" [(ngModel)]="selectedTerm"
                (change)="showSendRequestButton(doctor.id)">
          <option *ngFor="let term of availableTerms">{{term}}</option>
        </select>
      </td>
      <td [hidden]="hiddenLabel"> No terms available for today </td>

    </tr>
    </tbody>
  </table>
</div>

<div>
  <button class="btn btn-primary" [hidden]="!hiddenSend" style="align-content: center; alignment: center"
          (click)="sendRequest(selectedOption, selectedDate)" style="margin-left: 45%; width: 150px;"> Send request
  </button>
</div>

<notifier-container></notifier-container>
