<h2>Search by date and type</h2>
<form id="searchClinic" (ngSubmit)="onSearchSubmit(selectedOption)">
  <select name="types" [(ngModel)]="selectedOption" [selectedIndex]="1" (change)="onSelectChange($event)" required="true">
    <option *ngFor="let type of examinationTypes">{{type.id}}</option>
  </select>

  <input type="date">

  <button type="submit">Search</button>
</form>


<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">City</th>
    <th scope="col">Address</th>
    <th scope="col">Average rating</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let clinic of clinics">
    <td>{{ clinic.name }}</td>
    <td>{{ clinic.description }}</td>
    <td>{{ clinic.city }}</td>
    <td>{{ clinic.address }}</td>
    <td *ngIf="clinic.clinicAverageRating != null">{{ clinic.clinicAverageRating }}</td>
    <td *ngIf="clinic.clinic_average_rating != null">{{ clinic.clinic_average_rating }}</td>
  </tr>
  </tbody>
</table>
