<div class="container register-form pt-4">
  <div class="form">
    <div class="note">
      <h2>Add a doctor</h2>
    </div>

    <div class="card my-5">
      <div class="card-body">
        <form (ngSubmit)="addDoctor(selectedClinic)" [formGroup]="userData">


          <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input [(ngModel)]="doctor.firstName"
                   [ngClass]="{'is-invalid': f.firstName.touched && f.firstName.errors, 'is-valid': f.firstName.touched && f.firstName.valid}"
                   class="form-control"
                   id="inputFirstName"
                   name="firstName" formControlName="firstName"
                   placeholder="Enter first name of doctor"
                   required>
            <span style="color: red" *ngIf="f.firstName.invalid && f.firstName.touched">First name must contain only letters</span>
          </div>

          <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input [(ngModel)]="doctor.lastName"
                   [ngClass]="{'is-invalid': f.lastName.touched && f.lastName.errors, 'is-valid': f.lastName.touched && f.lastName.valid}"
                   class="form-control"
                   id="inputLastName"
                   name="lastName" formControlName="lastName"
                   placeholder="Enter last name of doctor"
                   required>
            <span style="color: red" *ngIf="f.lastName.invalid && f.lastName.touched">Last name must contain only letters</span>
          </div>

          <div class="form-group">
            <label for="inputSsn">SSN</label>
            <input [(ngModel)]="doctor.ssn"
                   [ngClass]="{'is-invalid': f.ssn.touched && f.ssn.errors, 'is-valid': f.ssn.touched && f.ssn.valid}"
                   class="form-control"
                   id="inputSsn"
                   name="ssn" formControlName="ssn"
                   placeholder="Enter ssn of doctor"
                   required>
            <span style="color: red" *ngIf="f.ssn.invalid && f.ssn.touched">Please enter exactly 13 digits for social security number</span>
          </div>

          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input [(ngModel)]="doctor.email"
                   [ngClass]="{'is-invalid': f.email.touched && f.email.errors && f.email.errors.emailDomain, 'is-valid': f.email.touched && f.email.valid}"
                   class="form-control"
                   id="inputEmail"
                   name="email" formControlName="email"
                   placeholder="Enter email of doctor"
                   required>
            <span style="color: red" *ngIf="f.email.touched && f.email.invalid">Valid email must contain @ and some of the domains : gmail.com, yahoo.com, uns.ac.rs</span>
          </div>

          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input [(ngModel)]="doctor.password"
                   [ngClass]="{'is-invalid': (f.password.touched && f.password.errors) || userData.hasError('notSame'), 'is-valid': f.password.touched && f.password.valid && !userData.hasError('notSame')}"
                   class="form-control"
                   type="password"
                   id="inputPassword"
                   name="password" formControlName="password"
                   placeholder="Enter password of doctor"
                   required>
            <span style="color: red" *ngIf="f.password.invalid && f.password.touched">Password must contain at least 5 characters</span>
          </div>

          <div class="form-group">
            <label for="inputCountry">Country</label>
            <input [(ngModel)]="doctor.country"
                   [ngClass]="{'is-invalid': f.country.touched && f.country.errors, 'is-valid': f.country.touched && f.country.valid}"
                   class="form-control"
                   id="inputCountry"
                   name="country" formControlName="country"
                   placeholder="Enter country of doctor"
                   required>
            <span style="color: red" *ngIf="f.country.invalid && f.country.touched">Country must contain only letters</span>
          </div>

          <div class="form-group">
            <label for="inputCity">City</label>
            <input [(ngModel)]="doctor.city"
                   [ngClass]="{'is-invalid': f.city.touched && f.city.errors, 'is-valid': f.city.touched && f.city.valid}"
                   class="form-control"
                   id="inputCity"
                   name="city" formControlName="city"
                   placeholder="Enter city of doctor"
                   required>
            <span style="color: red" *ngIf="f.city.invalid && f.city.touched">City must contain only letters</span>
          </div>

          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input [(ngModel)]="doctor.address"
                   [ngClass]="{'is-invalid': f.address.touched && f.address.errors, 'is-valid': f.address.touched && f.address.valid}"
                   class="form-control"
                   id="inputAddress"
                   name="address" formControlName="address"
                   placeholder="Enter address of doctor"
                   required>
            <span style="color: red" *ngIf="f.address.invalid && f.address.touched">Address must contain only letters</span>
          </div>

          <div class="form-group">
            <label for="inputPhone">Phone</label>
            <input [(ngModel)]="doctor.phone"
                   [ngClass]="{'is-invalid': f.phone.touched && f.phone.errors, 'is-valid': f.phone.touched && f.phone.valid}"
                   class="form-control"
                   id="inputPhone"
                   name="phone" formControlName="phone"
                   placeholder="Enter phone of doctor"
                   required>
            <span style="color: red" *ngIf="f.phone.invalid && f.phone.touched">Phone must contain 9 od 10 digits</span>
          </div>

          <div class="form-group">
            <label>Clinic</label>
            <select name="clinics" [(ngModel)]="selectedClinic" (change)="onSelectChange($event)"
                    [ngClass]="{'is-invalid': f.clinic.touched && f.clinic.errors, 'is-valid': f.clinic.touched && f.clinic.valid}"
                    class="custom-select" formControlName="clinic">
              <option></option>
              <option *ngFor="let clinic of clinics">
                {{clinic.name}}</option>
            </select>
            <span style="color: red" *ngIf="f.clinic.invalid && f.clinic.touched">Please select a clinic</span>
          </div>

          <div class="form-group">
            <label for="inputStartWork">Start work</label>
            <input [(ngModel)]="doctor.startWork"
                   [ngClass]="{'is-invalid': f.startWork.touched && f.startWork.errors, 'is-valid': f.startWork.touched && f.startWork.valid}"
                   class="form-control"
                   id="inputStartWork"
                   name="startWork" formControlName="startWork"
                   placeholder="Enter time when doctor starts work"
                   required>
            <span style="color: red" *ngIf="f.startWork.invalid && f.startWork.touched">Work must start between 6 and 15</span>
          </div>

          <div class="form-group">
            <label for="inputEndWork">End work</label>
            <input [(ngModel)]="doctor.endWork"
                   [ngClass]="{'is-invalid': f.endWork.touched && f.endWork.errors, 'is-valid': f.endWork.touched && f.endWork.valid}"
                   class="form-control"
                   id="inputEndWork"
                   name="endWork" formControlName="endWork"
                   placeholder="Enter time when doctor ends work"
                   required>
            <span style="color: red" *ngIf="f.endWork.invalid && f.endWork.touched">Work must end between 14 and 23</span>
          </div>

          <button type="submit"
                  class="btn btn-info" [disabled]="userData.invalid">Add
          </button>
        </form>
      </div>
    </div>


  </div>
</div>
