<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let request of requests">
        <td>{{ request.firstName }}</td>
        <td>{{ request.lastName }}</td>
        <td><a href="mailto:{{ request.email }}">{{ request.email }}</a></td>
        <td><button class="btn-info" routerLink="/registrationRequest/{{request.id}}">See more info</button></td>
        <td><button class="btn-danger" (click)="rejectRequest(request.id)">Reject</button></td>
        <td><button class="btn-success">Accept</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
