<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Ssn</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let request of requests">
        <td>{{ request.firstName }}</td>
        <td>{{ request.lastName }}</td>
        <td>{{ request.ssn }}</td>
        <td><a href="mailto:{{ request.email }}">{{ request.email }}</a></td>
        <td>
          <button class="btn btn-info"  routerLink="/registrationRequest/{{request.id}}">See more info</button>
        </td>
        <td>
            <button class="btn btn-danger"(click)="openModal(mymodal, request.id)">Reject</button>
        </td>
        <td>
          <button class="btn btn-success" (click)="acceptRequest(request)">Accept</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mt-lg-5 text-center">
  <ng-template #mymodal let-modal>
    <div class="modal-body">
      <form >
        <p>Write reason for rejection: </p>
        <textarea class="ml-4" [formControl]="subscriptionFormModalReason" [(ngModel)]="reason" rows="4" cols="45"></textarea>
        <div class="text-right">
          <button type="submit" class="btn btn-success" (click)="rejectRequest()">Send</button>
        </div>
      </form>
    </div>

  </ng-template>
</div>
